
  <!-- Footer Section -->
  <footer class="bg-indigo-900 text-white py-12 mt-10 text-center">
    <p>&copy; 2025 Hotel Luxury. All rights reserved. Designed with Love and Care by Ankit Shiwakoti</p>
    <div class="mt-6">
      <a href="https://www.facebook.com" class="text-yellow-400 hover:text-white transition duration-300 mx-4">Facebook</a>
      <a href="https://www.instagram.com" class="text-yellow-400 hover:text-white transition duration-300 mx-4">Instagram</a>
      <a href="https://www.twitter.com" class="text-yellow-400 hover:text-white transition duration-300 mx-4">Twitter</a>
    </div>
  </footer>

  <script>
    
    const burgerMenu = document.getElementById('burgerMenu');
    const mobileMenu = document.getElementById('mobileMenu');

    burgerMenu.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden'); 
    });
  </script>

</body>
</html>